.git
.github
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
*.log
.phpunit.cache
README.md
docs
